*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  font-family: 'roboto',sans-serif;
  overflow: hidden;
}

.dan {
  margin-top: 1.1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dan h6 {
  font-size: 1.6vh;
  margin-top: .3rem;
}

.dan .big-d {
  font-family: 'Leckerli One';
  font-size: 8vh;
  color: #243d2f;
  text-shadow: 1px 1px 1px #bbcfc0, 1px 2px 1px #866d67, 1px 3px 1px #866d67, 1px 4px 1px #866d67, 1px 5px 1px #866d67, 1px 6px 1px #866d67, 1px 7px 1px #866d67, 1px 8px 1px #866d67, 1px 9px 1px #866d67, 1px 10px 1px #866d67;
}

nav {
  background: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 5rem;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.719);
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 35vh;
  list-style: none;
}

nav .nav-list .nav-item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: .6rem 0;
}

nav .nav-list .nav-item:hover .text {
  color: #10ac84;
  text-shadow: 0 0 5px #10ac84;
}

nav .nav-list .nav-item:hover .nav-link {
  color: #10ac84;
  text-shadow: 0 0 5px #10ac84;
}

nav .nav-list .nav-item:hover {
  color: #10ac84;
  -webkit-box-shadow: 0 0 5px #10ac84;
          box-shadow: 0 0 5px #10ac84;
  text-shadow: 0 0 5px #10ac84;
}

nav .nav-list .nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: #10ac84;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

nav .nav-list .nav-item:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 15px #10ac84;
          box-shadow: 0 0 15px #10ac84;
}

nav .nav-list .nav-item:hover .text {
  width: 4rem;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

nav .nav-list .nav-item .text {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  overflow: hidden;
  -webkit-transition: 1.1s;
  transition: 1.1s;
  opacity: 0;
  width: 0;
  font-size: 1.3vh;
}

nav .nav-list .nav-item .nav-link {
  width: 3.8rem;
  height: 3.8rem;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.719);
}

nav .nav-list .nav-item .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: #10ac84;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

nav .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .social-icons .nav-link:nth-child(3) {
  margin-bottom: 3vh;
}

nav .social-icons .nav-link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 1.2vh;
  border-radius: 7px;
  text-align: center;
  padding-top: .5rem;
  color: #666;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .social-icons .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: #10ac84;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

nav .social-icons .nav-link:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 15px #10ac84;
          box-shadow: 0 0 15px #10ac84;
}

nav .social-icons .nav-link:hover {
  color: #10ac84;
  -webkit-box-shadow: 0 0 5px #10ac84;
          box-shadow: 0 0 5px #10ac84;
  text-shadow: 0 0 5px #10ac84;
}

.container {
  grid-auto-rows: 200px,1fr,200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-left: 5rem;
  width: 90%;
  height: 100vh;
}

.container .title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh 4vw;
  -ms-grid-row: 2;
  grid-row: 2 /2;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.container .title h1 {
  opacity: 0;
  -webkit-animation: h1Title .5s 1.6s ease-in-out forwards;
          animation: h1Title .5s 1.6s ease-in-out forwards;
  color: #243d2f;
  text-shadow: 1px 1px 1px #bbcfc0, 1px 2px 1px #866d67, 1px 3px 1px #866d67, 1px 4px 1px #866d67, 1px 5px 1px #866d67, 1px 6px 1px #866d67, 1px 7px 1px #866d67, 1px 8px 1px #866d67, 1px 9px 1px #866d67, 1px 10px 1px #866d67;
  font-size: 8vh;
}

.container .title p {
  color: rgba(255, 255, 255, 0.719);
  opacity: 0;
  -webkit-animation: subText  .5s 2.3s ease-in-out forwards;
          animation: subText  .5s 2.3s ease-in-out forwards;
  margin-top: 1rem;
  font-size: 17px;
  font-family: 'roboto',sans-serif;
  letter-spacing: 1px;
}

.container .title-btn {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-top: 3.3vh;
  padding: 0.9rem .6rem;
  border: 2px solid #10ac84;
  width: 7em;
  height: 2.1em;
  border-radius: 7px;
  color: #10ac84;
}

.container .title-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 4vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
}

.container .title-d .big-d {
  font-family: 'Leckerli One';
  -webkit-animation: bigD 1s .6s ease-in backwards;
          animation: bigD 1s .6s ease-in backwards;
  color: #243d2f;
  text-shadow: 1px 1px 1px #bbcfc0, 1px 2px 1px #866d67, 1px 3px 1px #866d67, 1px 4px 1px #866d67, 1px 5px 1px #866d67, 1px 6px 1px #866d67, 1px 7px 1px #866d67, 1px 8px 1px #866d67, 1px 9px 1px #866d67, 1px 10px 1px #866d67;
}

.container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 1.4vw;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.container .bottom-icon {
  opacity: 0;
  -webkit-animation: downie .3s 3.1s ease-in-out forwards;
          animation: downie .3s 3.1s ease-in-out forwards;
  color: rgba(77, 74, 74, 0.781);
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.4vw;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  padding-bottom: 6vh;
}

@-webkit-keyframes bigD {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-880deg) scale(0);
            transform: rotate(-880deg) scale(0);
    -webkit-filter: blur(11px);
            filter: blur(11px);
  }
  50% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: rotate(60deg) scale(1);
            transform: rotate(60deg) scale(1);
  }
  80% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bigD {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-880deg) scale(0);
            transform: rotate(-880deg) scale(0);
    -webkit-filter: blur(11px);
            filter: blur(11px);
  }
  50% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: rotate(60deg) scale(1);
            transform: rotate(60deg) scale(1);
  }
  80% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 7rem;
  position: absolute;
  top: 0px;
  right: 0px;
}

aside .older {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
}

aside .first {
  color: #660008;
  font-size: 33px;
  top: 18px;
  right: 4px;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

aside .second {
  color: #eb8d00;
  padding-left: .5rem;
  font-size: 19px;
  top: 90px;
  right: 0;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
}

aside .third {
  color: #154f9c;
  font-size: 21px;
  top: 150px;
  right: 0;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

aside .forth {
  color: #126906;
  font-size: 33px;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  top: 210px;
  right: 0;
}

aside .fifth {
  color: #7536a8;
  font-size: 21px;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
  top: 280px;
  right: 0;
}

aside .sixth {
  color: #fffb06;
  font-size: 34px;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  top: 340px;
  right: 0;
}

aside .pac {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 420px;
  right: 52px;
}

aside .ghost {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 420px;
  right: 6px;
}

.ico {
  opacity: 0;
  -webkit-animation: uppi 0.2s 2.9s ease-in-out forwards;
          animation: uppi 0.2s 2.9s ease-in-out forwards;
  color: rgba(77, 74, 74, 0.781);
}

@-webkit-keyframes h1Title {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-550px) scale(0);
            transform: translatex(-550px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) scale(1);
            transform: translatex(0) scale(1);
  }
}

@keyframes h1Title {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-550px) scale(0);
            transform: translatex(-550px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) scale(1);
            transform: translatex(0) scale(1);
  }
}

@-webkit-keyframes subText {
  0% {
    opacity: 0;
    -webkit-transform: translatex(250px) translateY(100px) scale(0);
            transform: translatex(250px) translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) translateY(0) scale(1);
            transform: translatex(0) translateY(0) scale(1);
  }
}

@keyframes subText {
  0% {
    opacity: 0;
    -webkit-transform: translatex(250px) translateY(100px) scale(0);
            transform: translatex(250px) translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) translateY(0) scale(1);
            transform: translatex(0) translateY(0) scale(1);
  }
}

@-webkit-keyframes uppi {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes uppi {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes downie {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes downie {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.skills-container {
  opacity: 0;
  -webkit-animation: pageOpen .4s .3s linear forwards;
          animation: pageOpen .4s .3s linear forwards;
  margin-left: 5rem;
  width: 90%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container .show-off {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-container .show-off .wrap {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.skills-container .show-off .wrap .cube {
  -webkit-animation: loop 10s linear infinite;
          animation: loop 10s linear infinite;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 400px;
  height: 400px;
  margin: auto;
}

.skills-container .show-off .wrap .cube .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #10ac84;
  font-family: 'roboto',sans-serif;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.9;
}

.skills-container .show-off .wrap .cube .content:nth-child(1) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(0deg) translateZ(200px);
          transform: rotateY(0deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(200px);
          transform: rotateY(90deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg) translateZ(200px);
          transform: rotateY(180deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
          transform: rotateY(-90deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(5) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateX(90deg) translateZ(200px);
          transform: rotateX(90deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(6) {
  -webkit-transform: rotateX(-90deg) translateZ(200px);
          transform: rotateX(-90deg) translateZ(200px);
}

.skills-container .main-area {
  width: 49vw;
  height: 100vh;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skills-container .main-area h1 {
  font-size: 2.8vw;
  color: #10ac84;
}

.skills-container .main-area p {
  font-size: .9vw;
  color: white;
  font-family: 'roboto',sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 1.7rem;
}

@-webkit-keyframes pageOpen {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-860px) scale(0);
            transform: translateX(-860px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes pageOpen {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-860px) scale(0);
            transform: translateX(-860px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: rotatex(0deg) rotateY(0deg);
            transform: rotatex(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotatex(360deg) rotateY(360deg);
            transform: rotatex(360deg) rotateY(360deg);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: rotatex(0deg) rotateY(0deg);
            transform: rotatex(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotatex(360deg) rotateY(360deg);
            transform: rotatex(360deg) rotateY(360deg);
  }
}

.containertwo {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  margin-left: 5rem;
  width: 90vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border: 2px solid red;
}

.containertwo form {
  grid-gap: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
  border: 1px solid green;
}

.containertwo form input, .containertwo form textarea {
  cursor: pointer;
  font-family: 'roboto',sans-serif;
  color: rgba(255, 255, 255, 0.719);
  border: none;
  outline: none;
  padding: .6rem;
  background-color: rgba(40, 40, 44, 0.767);
}

.containertwo form .text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
}

.containertwo form .subject {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}

.containertwo form .send {
  color: #10ac84;
  border: 2px solid #10ac84;
  border-radius: 7px;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  height: 2rem;
  width: 4rem;
  padding: 0;
}

.containertwo form p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  font-size: 12px;
  padding-right: 7rem;
  padding-left: 0.4rem;
  color: #10ac84;
}
/*# sourceMappingURL=main.css.map */