.load-container {
  -webkit-animation: movingPage .5s linear forwards;
          animation: movingPage .5s linear forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  background-color: #151616;
}

.load-container h1 {
  color: #660008;
  text-shadow: 2px 2px 2px #fffb06, 1px 2px 1px #154f9c, 1px 3px 1px #154f9c, 1px 4px 1px #154f9c, 1px 5px 1px #154f9c, 1px 6px 1px #154f9c, 1px 7px 1px #154f9c, 1px 8px 1px #154f9c, 1px 9px 1px #154f9c, 1px 10px 1px #154f9c;
  font-family: 'Press Start 2P', cursive;
  font-size: 3.7rem;
  -webkit-animation: movingElements .4s 2.3s  ease-in forwards;
          animation: movingElements .4s 2.3s  ease-in forwards;
  margin-bottom: .6rem;
}

.load-container h4 {
  font-size: .5vw;
  color: rgba(255, 255, 255, 0.719);
  margin-bottom: 6vh;
  letter-spacing: 5px;
  margin-top: .7rem;
  font-weight: 20;
  -webkit-animation: movingElements .4s 2.3s  ease-in forwards;
          animation: movingElements .4s 2.3s  ease-in forwards;
}

.load-container h6 {
  letter-spacing: 1px;
  font-size: .8vw;
  color: rgba(255, 255, 255, 0.719);
  font-weight: 700;
  -webkit-animation: movingElements .4s 2.3s  ease-in forwards;
          animation: movingElements .4s 2.3s  ease-in forwards;
}

.load-container .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
  height: 7vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: movingElements 0.4s 2.3s  ease-in forwards;
          animation: movingElements 0.4s 2.3s  ease-in forwards;
}

.load-container .loading .obj {
  width: .4vw;
  height: 5vh;
  background: #37d4a0;
  border-radius: 7px;
  -webkit-animation: loading .9s infinite;
          animation: loading .9s infinite;
}

.load-container .loading .obj:nth-child(2) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.load-container .loading .obj:nth-child(3) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.load-container .loading .obj:nth-child(4) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.load-container .loading .obj:nth-child(5) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.load-container .loading .obj:nth-child(6) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.load-container .loading .obj:nth-child(7) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.load-container .loading .obj:nth-child(8) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.load-container .loading .obj:nth-child(9) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

@-webkit-keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 5vh;
  }
  100% {
    height: 0;
  }
}

@keyframes loading {
  0% {
    height: 0;
  }
  50% {
    height: 5vh;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes movingPage {
  0% {
    -webkit-transform: translateX(-1900px);
            transform: translateX(-1900px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes movingPage {
  0% {
    -webkit-transform: translateX(-1900px);
            transform: translateX(-1900px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes movingElements {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1900px);
            transform: translateX(1900px);
  }
}

@keyframes movingElements {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(1900px);
            transform: translateX(1900px);
  }
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f0f0f;
  font-family: 'orbitron',sans-serif;
  overflow: hidden;
}

.dan {
  margin-top: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dan h6 {
  font-size: .8rem;
  margin-top: .5rem;
  letter-spacing: 1px;
}

.dan .big-d {
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5rem;
  color: #660008;
  text-shadow: 2px 2px 2px #fffb06, 1px 2px 1px #154f9c, 1px 3px 1px #154f9c, 1px 4px 1px #154f9c, 1px 5px 1px #154f9c, 1px 6px 1px #154f9c, 1px 7px 1px #154f9c, 1px 8px 1px #154f9c, 1px 9px 1px #154f9c, 1px 10px 1px #154f9c;
}

nav {
  background: #0a0a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 5rem;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.719);
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 24rem;
  list-style: none;
}

nav .nav-list .nav-item {
  overflow: hidden;
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.719);
  padding: .6rem 0;
}

nav .nav-list .nav-item:hover .text {
  color: #37d4a0;
  text-shadow: 0 0 5px #37d4a0;
}

nav .nav-list .nav-item:hover .nav-link {
  color: #37d4a0;
  text-shadow: 0 0 5px #37d4a0;
}

nav .nav-list .nav-item:hover {
  color: #37d4a0;
  -webkit-box-shadow: 0 0 5px #37d4a0;
          box-shadow: 0 0 5px #37d4a0;
  text-shadow: 0 0 5px #37d4a0;
}

nav .nav-list .nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: #37d4a0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

nav .nav-list .nav-item:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 15px #37d4a0;
          box-shadow: 0 0 15px #37d4a0;
}

nav .nav-list .nav-item:hover .text {
  text-decoration: none;
  width: 4rem;
  opacity: 1;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
}

nav .nav-list .nav-item .text {
  margin-top: 6px;
  -webkit-transform: translateX(29px);
          transform: translateX(29px);
  overflow: hidden;
  -webkit-transition: 1.1s;
  transition: 1.1s;
  opacity: 0;
  width: 0;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

nav .nav-list .nav-item .nav-link {
  width: 4rem;
  height: 4rem;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.719);
}

nav .nav-list .nav-item .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: #37d4a0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

nav .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .social-icons .nav-link:nth-child(3) {
  margin-bottom: 3vh;
}

nav .social-icons .nav-link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 1.2vh;
  border-radius: 7px;
  text-align: center;
  padding-top: .5rem;
  color: #666;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .social-icons .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background: #37d4a0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  z-index: -1;
}

nav .social-icons .nav-link:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 15px #37d4a0;
          box-shadow: 0 0 15px #37d4a0;
}

nav .social-icons .nav-link:hover {
  color: #37d4a0;
  -webkit-box-shadow: 0 0 5px #37d4a0;
          box-shadow: 0 0 5px #37d4a0;
  text-shadow: 0 0 5px #37d4a0;
}

.container {
  grid-auto-rows: 200px,1fr,200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-left: 5rem;
  width: 90%;
  height: 100vh;
}

.container .title {
  color: rgba(255, 255, 255, 0.719);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh 4vw;
  -ms-grid-row: 2;
  grid-row: 2 /2;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
}

.container .title h1 {
  display: inline-block;
  opacity: 0;
  -webkit-animation: h1Title .5s 4.355s ease-in-out forwards;
          animation: h1Title .5s 4.355s ease-in-out forwards;
  color: #37d4a0;
  font-size: 4rem;
}

.container .title p {
  color: rgba(255, 255, 255, 0.719);
  opacity: 0;
  -webkit-animation: subText  .5s 5.055s ease-in-out forwards;
          animation: subText  .5s 5.055s ease-in-out forwards;
  margin-top: 1rem;
  font-size: 17px;
  letter-spacing: 3px;
}

.container .title-btn {
  overflow: hidden;
  position: relative;
  letter-spacing: 1px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-top: 3.3vh;
  padding: 0.9rem .6rem;
  border: 2px solid #37d4a0;
  width: 7em;
  height: 2.1em;
  border-radius: 7px;
  color: #37d4a0;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

.container .title-btn:hover {
  color: black;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

.container .title-btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background: #37d4a0;
  z-index: -1;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.container .title-btn:hover::before {
  height: 180%;
  border-radius: 50% 50% 50% 50%;
}

.container .title-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh 4vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 27vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/span 2;
}

.container .title-d .big-d {
  font-family: 'Press Start 2P', cursive;
  -webkit-animation: bigD 1s 3.355s ease-in backwards;
          animation: bigD 1s 3.355s ease-in backwards;
  color: #660008;
  text-shadow: 2px 2px 2px #fffb06, 1px 2px 1px #154f9c, 1px 3px 1px #154f9c, 1px 4px 1px #154f9c, 1px 5px 1px #154f9c, 1px 6px 1px #154f9c, 1px 7px 1px #154f9c, 1px 8px 1px #154f9c, 1px 9px 1px #154f9c, 1px 10px 1px #154f9c;
  font-size: 27rem;
}

.container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 1.4vw;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.container .bottom-icon {
  opacity: 0;
  -webkit-animation: downie .3s 5.855s ease-in-out forwards;
          animation: downie .3s 5.855s ease-in-out forwards;
  color: rgba(77, 74, 74, 0.781);
  font-size: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.4vw;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  padding-bottom: 6vh;
}

@-webkit-keyframes bigD {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-880deg) scale(0);
            transform: rotate(-880deg) scale(0);
    -webkit-filter: blur(11px);
            filter: blur(11px);
  }
  50% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: rotate(60deg) scale(1);
            transform: rotate(60deg) scale(1);
  }
  80% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bigD {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-880deg) scale(0);
            transform: rotate(-880deg) scale(0);
    -webkit-filter: blur(11px);
            filter: blur(11px);
  }
  50% {
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: rotate(60deg) scale(1);
            transform: rotate(60deg) scale(1);
  }
  80% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 7rem;
  position: absolute;
  top: 0px;
  right: 0px;
}

aside .older {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
}

aside .first {
  color: #660008;
  font-size: 33px;
  top: 18px;
  right: 4px;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

aside .second {
  color: #eb8d00;
  padding-left: .5rem;
  font-size: 19px;
  top: 90px;
  right: 0;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
}

aside .third {
  color: #154f9c;
  font-size: 21px;
  top: 150px;
  right: 0;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
}

aside .forth {
  color: #126906;
  font-size: 33px;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  top: 210px;
  right: 0;
}

aside .fifth {
  color: #7536a8;
  font-size: 21px;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
  top: 280px;
  right: 0;
}

aside .sixth {
  color: #fffb06;
  font-size: 34px;
  -webkit-transform: rotate(24deg);
          transform: rotate(24deg);
  top: 340px;
  right: 0;
}

aside .pac {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 420px;
  right: 52px;
}

aside .ghost {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 420px;
  right: 6px;
}

.ico {
  opacity: 0;
  -webkit-animation: uppi 0.2s 5.655s ease-in-out forwards;
          animation: uppi 0.2s 5.655s ease-in-out forwards;
  color: rgba(77, 74, 74, 0.781);
}

@-webkit-keyframes h1Title {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-550px) scale(0);
            transform: translatex(-550px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) scale(1);
            transform: translatex(0) scale(1);
  }
}

@keyframes h1Title {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-550px) scale(0);
            transform: translatex(-550px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) scale(1);
            transform: translatex(0) scale(1);
  }
}

@-webkit-keyframes subText {
  0% {
    opacity: 0;
    -webkit-transform: translatex(250px) translateY(100px) scale(0);
            transform: translatex(250px) translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) translateY(0) scale(1);
            transform: translatex(0) translateY(0) scale(1);
  }
}

@keyframes subText {
  0% {
    opacity: 0;
    -webkit-transform: translatex(250px) translateY(100px) scale(0);
            transform: translatex(250px) translateY(100px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0) translateY(0) scale(1);
            transform: translatex(0) translateY(0) scale(1);
  }
}

@-webkit-keyframes uppi {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes uppi {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes downie {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes downie {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.skills-container {
  opacity: 0;
  -webkit-animation: pageOpen .4s 2.92s linear forwards;
          animation: pageOpen .4s 2.92s linear forwards;
  margin-left: 5rem;
  width: 90%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-container .show-off {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-container .show-off form {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateY(70px) translateX(-70px);
          transform: translateY(70px) translateX(-70px);
}

.skills-container .show-off form select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #37d4a0;
  width: 5.6rem;
  height: 1.7rem;
  background: #0f0f0f;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
}

.skills-container .show-off .wrap {
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.skills-container .show-off .wrap .cube {
  -webkit-animation: loop 10s linear infinite;
          animation: loop 10s linear infinite;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 400px;
  height: 400px;
  margin: auto;
}

.skills-container .show-off .wrap .cube .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.7rem;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.9;
}

.skills-container .show-off .wrap .cube .content .first {
  color: #660008;
}

.skills-container .show-off .wrap .cube .content .second {
  color: #eb8d00;
}

.skills-container .show-off .wrap .cube .content .third {
  color: #154f9c;
}

.skills-container .show-off .wrap .cube .content .forth {
  color: #126906;
}

.skills-container .show-off .wrap .cube .content .fifth {
  color: #7536a8;
}

.skills-container .show-off .wrap .cube .content .sixth {
  color: #fffb06;
}

.skills-container .show-off .wrap .cube .content-color {
  color: #37d4a0;
}

.skills-container .show-off .wrap .cube .content:nth-child(1) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(0deg) translateZ(200px);
          transform: rotateY(0deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(90deg) translateZ(200px);
          transform: rotateY(90deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(180deg) translateZ(200px);
          transform: rotateY(180deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateY(-90deg) translateZ(200px);
          transform: rotateY(-90deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(5) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateX(90deg) translateZ(200px);
          transform: rotateX(90deg) translateZ(200px);
}

.skills-container .show-off .wrap .cube .content:nth-child(6) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotateX(-90deg) translateZ(200px);
          transform: rotateX(-90deg) translateZ(200px);
}

.skills-container .main-area {
  width: 49vw;
  height: 100vh;
  padding: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skills-container .main-area h1 {
  font-size: 4rem;
  color: #37d4a0;
  letter-spacing: 2px;
}

.skills-container .main-area h1 span {
  display: inline-block;
  cursor: pointer;
}

.skills-container .main-area h1 span:hover {
  display: inline-block;
  -webkit-animation: rb .7s;
          animation: rb .7s;
  color: #660008;
}

.skills-container .main-area p {
  font-size: .9vw;
  color: white;
  font-weight: 200;
  letter-spacing: 3px;
  margin-top: 1.7rem;
}

@-webkit-keyframes rb {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  45% {
    -webkit-transform: scale3d(0.75, 1, 1);
            transform: scale3d(0.75, 1, 1);
  }
  60% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rb {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  45% {
    -webkit-transform: scale3d(0.75, 1, 1);
            transform: scale3d(0.75, 1, 1);
  }
  60% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pageOpen {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-860px) scale(0);
            transform: translateX(-860px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes pageOpen {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-860px) scale(0);
            transform: translateX(-860px) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: rotatex(0deg) rotateY(0deg);
            transform: rotatex(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotatex(360deg) rotateY(360deg);
            transform: rotatex(360deg) rotateY(360deg);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: rotatex(0deg) rotateY(0deg);
            transform: rotatex(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotatex(360deg) rotateY(360deg);
            transform: rotatex(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes showingText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showingText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containertwo {
  position: relative;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  margin-left: 5rem;
  width: 90vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.containertwo form {
  grid-gap: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
}

.containertwo form h1 {
  font-size: 3rem;
  color: #37d4a0;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.containertwo form h1 .contact-me {
  -webkit-animation: showingText 1s 3.6s linear backwards;
          animation: showingText 1s 3.6s linear backwards;
}

.containertwo form h1 .contact-me:nth-child(1) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.containertwo form h1 .contact-me:nth-child(2) {
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

.containertwo form h1 .contact-me:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.containertwo form h1 .contact-me:nth-child(4) {
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

.containertwo form h1 .contact-me:nth-child(5) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.containertwo form h1 .contact-me:nth-child(6) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.containertwo form h1 .contact-me:nth-child(7) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
}

.containertwo form h1 .contact-me:nth-child(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.containertwo form h1 .contact-me:nth-child(9) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.containertwo form input:focus, .containertwo form textarea:focus {
  color: #37d4a0;
  background-color: rgba(40, 40, 44, 0.767);
}

.containertwo form .namee {
  -webkit-animation: names .7s 2.8s linear backwards;
          animation: names .7s 2.8s linear backwards;
}

.containertwo form .emaill {
  -webkit-animation: email .7s 2.8s linear backwards;
          animation: email .7s 2.8s linear backwards;
}

.containertwo form input, .containertwo form textarea {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.719);
  border: none;
  outline: none;
  padding: .6rem;
  background-color: rgba(40, 40, 44, 0.767);
  letter-spacing: 1px;
  font-family: 'Orbitron', sans-serif;
}

.containertwo form input.success, .containertwo form textarea.success {
  border: 1px solid #37d4a0;
}

.containertwo form input.error, .containertwo form textarea.error {
  border: 1px solid red;
}

.containertwo form .text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -webkit-animation: message 1s 2.8s linear backwards;
          animation: message 1s 2.8s linear backwards;
}

.containertwo form .subject {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  -webkit-animation: subject .7s 2.8s linear backwards;
          animation: subject .7s 2.8s linear backwards;
}

.containertwo form .send {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: #37d4a0;
  border: 2px solid #37d4a0;
  border-radius: 7px;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  height: 2rem;
  width: 4rem;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.containertwo form .send:hover {
  background-color: #37d4a0;
  color: black;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.containertwo form .send:focus {
  background: transparent;
  color: rgba(40, 40, 44, 0.767);
}

.containertwo form p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  font-size: 12px;
  padding-right: 7rem;
  padding-left: 0.4rem;
  color: #37d4a0;
  letter-spacing: 1px;
}

.containertwo .invader {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  pointer-events: none;
}

.containertwo .invader.open {
  opacity: 1;
}

.containertwo .thx {
  color: #eb8d00;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 62.5%;
  font-size: 3rem;
  font-family: 'Press Start 2P', cursive;
  font-weight: 600;
}

.containertwo .thx.show {
  opacity: 1;
}

@-webkit-keyframes names {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes names {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes email {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes email {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes subject {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes subject {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes message {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes message {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 81px;
  height: 100vh;
  width: 90vw;
}

.work-container .container-projects {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 92vh;
  width: 87vw;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: .6rem;
}

.work-container .container-projects figure {
  -webkit-animation: workframes .5s 2.87s linear both;
          animation: workframes .5s 2.87s linear both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
  background: rgba(32, 26, 63, 0.603);
}

.work-container .container-projects figure:hover {
  background: transparent;
}

.work-container .container-projects figure:hover img {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.work-container .container-projects figure:hover a {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.work-container .container-projects figure img {
  width: calc(100% + 10px);
  opacity: .7;
  -webkit-transform: translate3d(0, -20px, 0) scale(1.17);
          transform: translate3d(0, -20px, 0) scale(1.17);
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 100%;
}

.work-container .container-projects figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-container .container-projects figure figcaption a {
  padding: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .4rem;
  color: #111111;
  text-decoration: none;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background: #37d4a0;
  text-align: center;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

@-webkit-keyframes workframes {
  0% {
    -webkit-transform: translate3d(-170px, 100px, 0) scale(0);
            transform: translate3d(-170px, 100px, 0) scale(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes workframes {
  0% {
    -webkit-transform: translate3d(-170px, 100px, 0) scale(0);
            transform: translate3d(-170px, 100px, 0) scale(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}
/*# sourceMappingURL=main.css.map */