*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Monoton', cursive;


    background-color:rgb(51, 46, 54) ;
}
h2{
    align-self: flex-start;
    
    width: 100%;
    color: black;
    
}
.container{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    line-height: 5rem;
    h1{
        padding: 2rem .3rem;
        font-size: 70px;
        color: rgb(36, 13, 49);
    }

    .blackjack-table{
        background-color: rgb(2, 27, 21);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        height: 60vh;
        h2{
            
            text-align: center;
        }

        #your-box{
            align-self: center;
            justify-self: center;
            display: flex;
            height: 80%;
            width: 40%;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            
        }
        img{
            width: 20%;
            height: 21%;
            margin: 2%
        }
        #dealer-box{
            align-self: center;
            justify-self: center;
            display: flex;
            height: 80%;
            width: 40%;
            
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            
        }


    }
    .blackjack-buttons{
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
        
        .buttons{
            justify-content: space-evenly;
            
            display: flex;
            width: 25%;
            .btn{
                outline: none;
                border: none;
                font-size: 16px;
                font-weight: 700;
                height: 3rem;
                width: 6rem;
                border-radius: 7px;
            }
            .btn-hit{
                background-color: rgb(48, 48, 173);
            }
            .btn-stand{
                background-color: rgb(231, 231, 27);
            }
            .btn-deal{
              background-color: rgb(204, 25, 25);
            }

        }
    }
    .blackjack-scores{
        
        display: flex;
        justify-content: flex-start;
        width: 90%;
        align-items: center;

        

        
        
        
        h4{
            margin-right: 2.4rem;
        }
            
    }

}
span{
    margin-left: .4rem;
}

